.blog-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sort-active {
  background-color: yellow;
}

.no-scroll {
  overflow: hidden;
}

#modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity visibility;
  transition-duration: 0.5s;
}

#modal.show {
  opacity: 1;
  visibility: visible;
}

#modal-container {
  transform: scale(0.3);
  transition: transform 0.5s;
}

#modal.show #modal-container {
  transform: scale(1);
}

.no-scroll {
  overflow: hidden;
}
